.menu-item.active{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  > .menu-item-icon {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.menu-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  > .menu-item-icon {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.left-bar-menu {
  transition-property: max-width;
  transition-duration: 1s;
}

//
//.widthMaxBlueMenu{
//  maxWidth: minimized ? 64px : 312px}
//.widthMinBlueMenu{
//  min-width: 64px;
//}

@media (max-width: 3840px) and (min-width: 2500px) {

}
@media (max-width: 2500px) and (min-width: 1600px) {
  .divLogoMenu{
    margin-left: 78px;
    color: #fff66c;
    font-size: 24px;
    font-weight: 600;
    margin-top:57px;
    margin-bottom:57px;
    //display: minimized ? none : block,
    line-height: 1;
    position: relative;
    width: 120px
  }
  .menuExpandIconStyle{
    height: 32px;
    max-width: 32px;
    margin-top:16px;
  }
  .logoStyle{
    height: 39px;
    position: absolute;
    right: -20px;
    top: -25px;
  }

  .eachRowMenuStyle{
      display: flex;
      min-height: 64px;
      >div{
        flex: 2;
        padding: 10px;
        max-width: 64px;

      }
    .menuText{
      flex: 10;
      padding-left: 10px;
      align-items: center;
      color:white;
      >span{
        font-size:16px;
        margin-left:10px;
        white-space: nowrap;
      }
    }
    }
  }

@media (max-width: 1600px) and (min-width: 1300px) {
  .divLogoMenu{
    margin-left: 78px;
    color: #fff66c;
    font-size: 24px;
    font-weight: 600;
    margin-top:57px;
    margin-bottom:57px;
    //display: minimized ? none : block,
    line-height: 1;
    position: relative;
    width: 120px
  }
  .menuExpandIconStyle{
    height: 32px;
    max-width: 32px;
    margin-top:16px;
  }
  .logoStyle{
    height: 39px;
    position: absolute;
    right: -20px;
    top: -25px;
  }

  .eachRowMenuStyle{
    display: flex;
    min-height: 48px;
    >div{
      flex: 2;
      padding: 10px;
      max-width: 48px;

    }
    .menuText{
      flex: 10;
      padding-left: 10px;
      align-items: center;
      color:white;
      >span{
        font-size:14px;
        margin-left:10px;
        white-space: nowrap;

      }
    }
  }
}
@media (max-width: 1300px) and (min-width: 1000px) {
  .divLogoMenu{
    margin-left: 78px;
    color: #fff66c;
    font-size: 24px;
    font-weight: 600;
    margin-top:57px;
    margin-bottom:57px;
    //display: minimized ? none : block,
    line-height: 1;
    position: relative;
    width: 120px
  }
  .menuExpandIconStyle{
    height: 32px;
    max-width: 32px;
    margin-top:16px;
  }
  .logoStyle{
    height: 39px;
    position: absolute;
    right: -20px;
    top: -25px;
  }

  .eachRowMenuStyle{
    display: flex;
    min-height: 64px;
    >div{
      flex: 2;
      padding: 10px;
      max-width: 64px;

    }
    .menuText{
      flex: 10;
      padding-left: 10px;
      align-items: center;
      color:white;
      >span{
        font-size:16px;
        margin-left:10px;
        white-space: nowrap;
      }
    }
  }
}
