html {
  //background-image: url(../../../images/back.jpg);
  //background-size: cover;

  background: #324edf;
  background: -moz-linear-gradient(-45deg, #324edf 0%, #55acee 100%);
  background: -webkit-linear-gradient(-45deg, #324edf 0%, #55acee 100%);
  background: linear-gradient(135deg, #324edf 0%, #55acee 100%);

  //background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

.login-page {
  position: relative;
  overflow: auto;
  .login-dialog {
    position: absolute;
    width: 480px;
    height: 640px;
    mix-blend-mode: undefined;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 18px 27px 0 rgba(15, 21, 51, 0.1);
    top: 216px;
    left: 248px;

    .login-dialog-content-1 {
      background-color: #ffffff;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      border-radius: 20px;
      box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.1);
    }
    .login-dialog-content-2 {
      z-index: 1;
      background-color: #ebeef4;
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 20px;
      top: 0;
      left: 0;
      box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.1);
      &.animate {
        left: 440px;
        transition-property: left;
        transition-duration: 1s;
      }

      &.disanimate {
        left: 0;
        transition-property: left;
        transition-duration: 1s;
      }
    }

  }
  .login-text-1 {
    position: absolute;
    top: 275px;
    left: 1448px;
  }
  .login-text-2 {
    position: absolute;
    top: 810px;
    left: 1376px;
  }
}

h2FontStyle {
  font-weight: 500;
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

.imageClass {
  display: inline-block;
  //margin: 40px;
  width: 100px;
  height: 100px;
  //background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
  cursor: pointer;
  border-radius: 50%;

  box-shadow: 0 3px 20px rgba(0, 0, 0, .25),
  inset 0 2px 0 rgba(255, 255, 255, .6),
  0 2px 0 rgba(0, 0, 0, .1),
  inset 0 0 20px rgba(0, 0, 0, .1);
}



