.side-panel {
  .inner-panel {
    .inner-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 25px;
      padding: 20px 15px;
      img {
        cursor: pointer;
      }
    }

    .inner-profile {
      display: flex;
      > div:first-child {
        flex: 1;
        display: flex;
        justify-content: center;
      }
      > div:last-child {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
          height: 35px;
          > img {
            height: 100%;
          }
        }
      }
      > div:not(:first-child):not(:last-child) {
        flex: 3;
        .profile-text-block {
          > img {
            height: 25px
          }
        }
      }
    }

    .inner-content {
      padding: 0 15px;
    }
  }
}
