

.tableOnHover:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.buttonSaveSidePanel{
  width: 169px;
  height: 40px;
  border-radius: 20px;
  background-color: #62c083;
  box-shadow: 0px 6px 16px 0 #cccccc80;
}


@media (max-width: 3840px) and (min-width: 2500px) {
  .labelForTitleSidePanel {
    font-family: Raleway;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: 1.2px;
    text-align: left;
    color: #8c96a0;
  }
  .textForSidePanel {

    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: left;
    color: #464e56;
  }
  .divButtonSuccess {
    flex: 2;
    flex-direction: column;
    margin-left: 55%;
    margin-top: -10%;
    > button {
      width: 169px;
      height: 40px;
      border-radius: 20px;
      background-color: #62c083;
      box-shadow: 0px 6px 16px 0 #cccccc80;
      > img {
        width: 12px;
      }
      > span {
        font-size: 13px;
      }
    }
  }

  .blackLineSidePanel {
    height: 40px;
    background-color: black;
    margin-top: 10%;
    > span {
      font-family: Raleway;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 3;
      letter-spacing: 1.2px;
      text-align: left;
      color: #8c96a0;
      margin-left: 8%;
    }
  }



  .custom-table {
    .custom-table-header,
    .custom-table-row {
      display: flex;
      align-items: center;
      height: 64px;
      border-bottom: 1px solid lightgrey;
      .custom-table-row-column {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .custom-table-item {
        flex: 1;
        width: 84px;
        height: 14px;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        //line-height: 2.57;
        line-height: 14px;
        letter-spacing: normal;
        text-align: left;
        color: #5a5a5a;
      }
    }

    .custom-table-row:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }

  }

  .middleTableStyle{
    width: 224px;
    height: 15px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: #5788fd;
  }


  .side-panel {
    .inner-panel {
      width: 832px !important;
      &.show {
        right: 0 !important;
        transition-property: right;
        transition-duration: 1s;
      }
      &.hide {
        right: -832px !important;
        transition-property: right;
        transition-duration: 1s;
      }
    }
  }

  .tabs {
    width: 900px;
    display: flex;
    .tab-item {
      border: 10px;
      box-sizing: border-box;
      font-family: Raleway;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      text-decoration: none;
      //margin: 0px;
      //padding: 0px;
      //outline: none;
      //font-size: 10px;
      font-weight: 500;
      position: relative;
      //color: blue;
      color: #8f97bf;
      width: 33.3333%;
      //text-transform: uppercase;
      background: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 48px;
      border-bottom: 4px solid transparent;

      &.active-tab {
        border-bottom: 4px solid #5788fd;
        color: #5788fd;
      }
    }
  }

}

@media (max-width: 1600px) and (min-width: 768px) {

  .labelForTitleSidePanel {
    font-family: Raleway;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: 1.2px;
    text-align: left;
    color: #8c96a0;
  }
  .textForSidePanel {
    font-family: Raleway;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: left;
    color: #464e56;
  }
  .divButtonSuccess {
    flex: 2;
    flex-direction: column;
    margin-left: 55%;
    margin-top: -10%;
    > button {
      //width: 169px;
      //height: 40px;
      border-radius: 20px;
      background-color: #62c083;
      box-shadow: 0px 6px 16px 0 #cccccc80;
      > img {
        width: 32px;
        margin-left: -15px;
      }
      > span {
        font-size: 13px;
      }
    }
  }

  .blackLineSidePanel {
    height: 30px;
    background-color: black;
    margin-top: 5%;
    > span {
      font-family: Raleway;
      font-size: 8px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 3;
      letter-spacing: 1.2px;
      text-align: left;
      color: #8c96a0;
      margin-left: 8%;
    }
  }



  .custom-table {
    .custom-table-header,
    .custom-table-row {
      display: flex;
      align-items: center;
      height: 64px;
      border-bottom: 1px solid lightgrey;
      .custom-table-row-column {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .custom-table-item {
        flex: 1;
        width: 84px;
        height: 14px;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        //line-height: 2.57;
        line-height: 14px;
        letter-spacing: normal;
        text-align: left;
        color: #5a5a5a;
      }
    }

    .custom-table-row:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }

  }

  .middleTableStyle{
    width: 224px;
    height: 15px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: #5788fd;
  }


  .side-panel {
    .inner-panel {
      width: 832px !important;
      &.show {
        right: 0 !important;
        transition-property: right;
        transition-duration: 1s;
      }
      &.hide {
        right: -832px !important;
        transition-property: right;
        transition-duration: 1s;
      }
    }
  }

  .tabs {
    width: 900px;
    display: flex;
    .tab-item {
      border: 10px;
      box-sizing: border-box;
      font-family: Raleway;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      text-decoration: none;
      //margin: 0px;
      //padding: 0px;
      //outline: none;
      //font-size: 10px;
      font-weight: 500;
      position: relative;
      //color: blue;
      color: #8f97bf;
      width: 33.3333%;
      //text-transform: uppercase;
      background: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 48px;
      border-bottom: 4px solid transparent;

      &.active-tab {
        border-bottom: 4px solid #5788fd;
        color: #5788fd;
      }
    }
  }

}

@media (max-width: 2500px) and (min-width: 1600px) {

  .labelForTitleSidePanel {
    font-family: Raleway;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: 1.2px;
    text-align: left;
    color: #8c96a0;
  }
  .textForSidePanel {

    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: left;
    color: #464e56;
  }
  .divButtonSuccess {
    flex: 2;
    flex-direction: column;
    margin-left: 55%;
    margin-top: -10%;
    > button {
      width: 169px;
      height: 40px;
      border-radius: 20px;
      background-color: #62c083;
      box-shadow: 0px 6px 16px 0 #cccccc80;
      > img {
        width: 12px;
      }
      > span {
        font-size: 13px;
      }
    }
  }

  .blackLineSidePanel {
    height: 40px;
    background-color: black;
    margin-top: 10%;
    > span {
      font-family: Raleway;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 3;
      letter-spacing: 1.2px;
      text-align: left;
      color: #8c96a0;
      margin-left: 8%;
    }
  }

  .tableHeader {
    width: 84px;
    height: 14px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: #5a5a5a;
  }

  tableHeaderMiddleColumn {
    width: 224px;
    height: 15px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: #5788fd;
    //margin-left: ;
  }



  .custom-table {
    .custom-table-header,
    .custom-table-row {
      display: flex;
      align-items: center;
      height: 64px;
      border-bottom: 1px solid lightgrey;
      .custom-table-row-column {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .custom-table-item {
        flex: 1;
        width: 84px;
        height: 14px;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        //line-height: 2.57;
        line-height: 14px;
        letter-spacing: normal;
        text-align: left;
        color: #5a5a5a;
      }
    }

    .custom-table-row:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }

  }

  .middleTableStyle{
    width: 224px;
    height: 15px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: #5788fd;
  }


  .side-panel {
    .inner-panel {
      width: 832px !important;
      &.show {
        right: 0 !important;
        transition-property: right;
        transition-duration: 1s;
      }
      &.hide {
        right: -832px !important;
        transition-property: right;
        transition-duration: 1s;
      }
    }
  }

  .tabs {
    width: 900px;
    display: flex;
    .tab-item {
      border: 10px;
      box-sizing: border-box;
      font-family: Raleway;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      text-decoration: none;
      //margin: 0px;
      //padding: 0px;
      //outline: none;
      //font-size: 10px;
      font-weight: 500;
      position: relative;
      //color: blue;
      color: #8f97bf;
      width: 33.3333%;
      //text-transform: uppercase;
      background: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 48px;
      border-bottom: 4px solid transparent;

      &.active-tab {
        border-bottom: 4px solid #5788fd;
        color: #5788fd;
      }
    }
  }

}
