.firstSpan{
  font-size: 87% ;
  color: #464e56;
}

.userName{
  color: #131517;
  fontWeight: 23;
}
.userPhone{
  fontWeight: 3px;
}
.bootstrapWindows{
  width: 450px;
  marginLeft:40%;
  marginTop:8%;
}
.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}


//background-color: #282b34;


.menu-item.active{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  > .menu-item-icon {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.menu-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  > .menu-item-icon {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.left-bar-menu {
  transition-property: max-width;
  transition-duration: 1s;
}