.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: auto 32px;
    margin-right: 16px;
  }
  .search-bar {
    display: flex;
    height: 30px !important;

    .search-img {
      width: 20px;
      cursor: pointer;
      margin-left: 27px;
    }
    .search-text {
      margin-top: -15px;
    }
  }
}

.header-middle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  height: 45px;
  > * {
    margin-left: 15px;
  }
  .form-control {
    max-height: 35px;
    font-size: 16px;
  }
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  .title {
    margin-top: -12px;
    margin-left: 30px;
  }
}

.right-bar-extend {
  flex: 1;
  max-width: inherit;
  overflow: hidden;
  .flex-column {
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;

    position: relative;
    //overflow: auto;
  }
}

.custom-tr {
  position: relative;
  .inner-tr-col {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    > * {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 3840px) and (min-width: 2500px) {
  .modalWindow {
    width: 300px;
  }
  .fontTitleWindow {
    font-size: 19px;
  }
  .fontButtonWindow {
    font-size: 19px;
  }
  .sidePanelHeight {
    height: 900px;
  }
  .sidePanelWidth {
    width: 650px;
  }
  .sidePanelPartnerNameSize {
    font-size: 18px;
  }
  .sidePanelMainMenuMainTitle {
    font-size: 18px;
  }
  .sidePanelMainMenuText {
    font-size: 16px;
  }
  .sidePanelMarginTop {
    margin-top: 150px;
  }
  .sidePanelMarginLeft {
    margin-left: 800px;
  }
  .marginLeftForTabsHeader {
    margin-left: 50%;
  }
  .fontSidePanel {
    font-size: 16px;
  }

  .bonusListTabsMarginLeft {
    margin-left: 850px;
  }

  .sidePanelMarginLeftBonusPage {
    margin-left: 1000px;
  }
  .sidePanelWidthBonusPage {
    width: 800px;
  }
  .sidePanelHeightBonusPage {
    height: 800px;
  }
  .sidePanelMarginTopBonusPage {
    margin-top: 170px;
  }




  .bricksSize{
    width: 220px;
    height: 240px;
    margin-left: 1%;
    margin-top: 3%;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
  }
  .imgBricksSize{
    width: 80px;
    height:80px;
    display: block;
    margin: 0 auto;

  }


  .basketTabWidth{
    width:941px;
    font-size: 14px;
  }


}

@media (max-width: 1600px) and (min-width: 768px) {
  .modalWindow {
    width: 480px;
    position:absolute;
    max-height:704px;

    overflow-y: hidden;
    margin-left:30%;
    margin-top:9%;
  }
  .fontTitleWindow {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #232323;
    margin-left: 15px;
    margin-top: 54px;
  }
  .fontButtonWindow {
    font-size: 10px;
  }
  .sidePanelHeight {
    height: 400px;
  }
  .sidePanelWidth {
    width: 400px;
  }
  .sidePanelPartnerNameSize {
    font-size: 10px;
  }
  .sidePanelMainMenuMainTitle {
    font-size: 15px;
  }
  .sidePanelMainMenuText {
    font-size: 10px;
  }
  .sidePanelMarginTop {
    margin-top: 150px;
  }
  .sidePanelMarginLeft {
    margin-left: 300px;
  }
  .marginLeftForTabsHeader {
    margin-left: 1%;
  }
  .fontSidePanel {
    font-size: 10px;
  }

  .bonusListTabsMarginLeft {
    margin-left: 200px;
  }

  .sidePanelMarginLeftBonusPage {
    margin-left: 400px;
  }
  .sidePanelWidthBonusPage {
    width: 500px;
  }
  .sidePanelHeightBonusPage {
    height: 617px;
  }
  .sidePanelMarginTopBonusPage {
    margin-top: 150px;
  }





  .bricksSize{
    width: 170px;
    height: 200px;
    margin-left: 1%;
    margin-top: 3%;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
  }
  .imgBricksSize{
    width: 50px;
    height:50px;
    display: block;
    margin: 0 auto;

  }



  .basketTabWidth{
    width:600px;
    font-size: 9px;
  }

}

@media (max-width: 2500px) and (min-width: 1600px) {
  .modalWindow {
    width: 480px;
    position:absolute;
    max-height:704px;
    
    overflow-y: hidden;
    margin-left:25%;
    margin-top:9%;
  }
  .fontTitleWindow {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #232323;
    margin-left: 15px;
    margin-top: 34px;

  }
  .fontButtonWindow {
    font-size: 10px;
  }
  .sidePanelHeight {
    height: 900px;
  }
  .sidePanelWidth {
    width: 650px;
  }
  .sidePanelPartnerNameSize {
    font-size: 16px;
  }
  .sidePanelMainMenuMainTitle {
    font-size: 18px;
  }
  //.sidePanelAvatarSize{
  //  size:120px;
  //}
  .sidePanelMainMenuText {
    font-size: 12px;
  }
  .sidePanelMarginLeft {
    margin-left: 630px;
  }
  .sidePanelMarginTop {
    margin-top: 150px;
  }
  .marginLeftForTabsHeader {
    margin-left: 43%;
  }
  .fontSidePanel {
    font-size: 16px;
  }

  .bonusListTabsMarginLeft {
    margin-left: 800px;
  }

  .sidePanelMarginLeftBonusPage {
    margin-left: 746px;
  }
  .sidePanelWidthBonusPage {
    width: 800px;
  }
  .sidePanelHeightBonusPage {
    height: 795px;
  }
  .sidePanelMarginTopBonusPage {
    margin-top: 168px;
  }



  .bricksSize{
    width: 220px;
    height: 240px;
    //display: flex;
    margin-left: 1%;
    margin-top: 3%;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
  }
  .imgBricksSize{
    width: 100px;
    height:90px;
    display: block;
    margin: 0 auto;

  }


  .basketTabWidth{
    width:900px;
    font-size: 13px;
  }

}
