.firstSpan{
  mix-blend-mode: undefined;
  font-family: Raleway;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.57;
  letter-spacing: 1.4px;
  text-align: left;
  color: #a6b1c0;
}

.userName{
  color: #464e56;
  font-size: 23px;
}
.userPhone{
  font-size: 14px;
  color: #464e56;
}
//.bootstrapWindows{
//  width: 450px;
//  marginLeft:40%;
//  marginTop:8%;
//}

.title{
  margin-top: 50px;
  mix-blend-mode: undefined;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #232323;
}
.deleteUserWindowSpan{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #e6144a;

}
lebelWindowsText{
  mix-blend-mode: undefined;
  font-family: Raleway;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: 1.2px;
  text-align: left;
  color: #8c96a0;
}