.firstSpan{
  font-size: 3px ;
  color: #464e56;
}

.userName{
  color: #131517;
  fontWeight: 23;
}
.userPhone{
  fontWeight: 3px;
}
.bootstrapWindows{
  //width: 450px;
  marginLeft:40%;
  marginTop:8%;
}
.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.threed:hover {
  box-shadow:
          1px 1px #010403,
          2px 2px #010403,
          3px 3px #010403,
          4px 4px #010403,
          5px 5px #010403,
          6px 6px #010403,
          7px 7px #010403;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
.tableOnHover:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}