firstSpan{
  font-size: 3px ;
  color: #464e56;
}

.userName{
  color: #131517;
  fontWeight: 23;
}
.userPhone{
  fontWeight: 3px;
}
.bootstrapWindows{
  width: 450px;
  marginLeft:40%;
  marginTop:8%;
}
.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.threed:hover {
  box-shadow:
          1px 1px #53ea93,
          2px 2px #53ea93,
          3px 3px #53ea93,
          4px 4px #53ea93,
          5px 5px #53ea93,
          6px 6px #53ea93,
          7px 7px #53ea93;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
.menu-item.active{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  > .menu-item-icon {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.menu-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  > .menu-item-icon {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.left-bar-menu {
  transition-property: max-width;
  transition-duration: 1s;
}

.side-panel {
  .inner-panel {
    .inner-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 25px;
      padding: 20px 15px;
      img {
        cursor: pointer;
      }
    }

    .inner-profile {
      display: flex;
      > div:first-child {
        flex: 1;
        display: flex;
        justify-content: center;
      }
      > div:last-child {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
          height: 35px;
          > img {
            height: 100%;
          }
        }
      }
      > div:not(:first-child):not(:last-child) {
        flex: 3;
        .profile-text-block {
          > img {
            height: 25px
          }
        }
      }
    }

    .inner-content {
      padding: 0 15px;
    }
  }
}
//
//#stripe.animate {
//  left: 100%;
//  transition-property: right;
//  transition-duration: 2s;
//  z-index: 3;
//}
//
//#stripe.disanimate {
//  left: -100%;
//  transition-property: left;
//  transition-duration: 2s;
//}

