.main-template {
  background-color: white;
  margin: 0 -15px;
  height: 100vh;
  display: flex;
  .inner-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      padding: 15px 15px 0;
      height: 150px;
      overflow: hidden;
      background-color: #f8f8f8;
    }

    .content {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .footer {
      padding: 0 15px;
      background-color: #f8f8f8;
      height: 50px;
      width: 100%;
      display: flex;
      font-size: 0.8rem;
      color: #a6b1c0;
      overflow: hidden;
      .inner-footer {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;

      }
    }

    .side-panel {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: -1;
      &.show{
        z-index: 2 !important;
      }
      &.hide{
        z-index: -1 !important;
        transition-property: z-index;
        transition-duration: 1.5s;
      }

      .inner-panel {
        overflow: auto;
        position: absolute;
        width: 55%;
        height: calc(100% - 150px);
        bottom: 0;
        right: 0;
        background-color: white;
        border-left: 1px solid black;
      }
    }
  }
}