.firstSpan{
  font-size: 3px ;
  color: #464e56;
}

.userName{
  color: #131517;
  fontWeight: 23;
}
.userPhone{
  fontWeight: 3px;
}
.bootstrapWindows{
  width: 450px;
  marginLeft:40%;
  marginTop:8%;
}
.tableOnHover:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}